<template>
    <section class="main__about about">
        <ul class="about__achievements achievements">
            <li class="achievements__list">
                <h3 class="achievements__title">Качество и профессионализм</h3>
                <p class="achievements__text">Наша фотостудия предлагает высококлассное качество фотографий благодаря 
                    опытным фотографам и использованию передовых технологий обработки изображений. 
                    Мы заботимся о каждой детали, чтобы создать уникальные и запоминающиеся снимки, 
                    которые будут вызывать восторг у наших клиентов.
                </p>
            </li>
            <li class="achievements__list">
                <h3 class="achievements__title">Разнообразие услуг</h3>
                <p class="achievements__text">
                    Мы предлагаем широкий спектр услуг, адаптированных под различные потребности клиентов. 
                    Мы также можем предложить дополнительные услуги, включая ретушь фотографий, создание фотокниг и 
                    печать изображений на различных носителях.
                </p>
            </li>
            <li class="achievements__list">
                <h3 class="achievements__title">Уютная атмосфера и комфорт</h3>
                <p class="achievements__text">
                    Мы заботимся о комфорте наших клиентов и предлагаем уютную атмосферу в нашей фотостудии.
                    Наша команда всегда старается создать расслабленную и дружественную обстановку, 
                    чтобы клиенты чувствовали себя комфортно и могли раскрыть свою индивидуальность во время фотосессии.
                </p>
            </li>
        </ul>
    </section>
</template>

<!-- <script>

import MarqueeText from 'vue-marquee-text-component'

export default {
    name: 'aboutMain',
    components: {
        MarqueeText
    }
}

</script> -->

<style lang="scss">

@import '../assets/scss/about';
@import '../assets/scss/achievements';

</style>