<template>
    <section class="company__cards cards">
        <ul class="cards__list">
            <li class="cards__item--pink">
                <p class="cards__text-title">Фотостудия SHINE</p>
                <p class="cards__text">SHINE — креативая фотостудия в стиле минимализм в Москве</p>
            </li>
            <li class="cards__item">
                <img class="cards__img" src="../assets/img/about_main.jpg" alt="Фото фотостудии">
            </li>
        </ul>
    </section>
</template>

<style lang="scss">

@import '../assets/scss/cards.scss';

</style>