<template>
    <section class="main__gallery gallery">
        <h2 class="gallery__title">
            Фото, сделанные у нас:
        </h2>
        <!-- <v-card
            elevation="24"
            max-width="444"
            class="mx-auto gallery__card"
        >
            <v-carousel
                :continuous="false"
                :show-arrows="false"
                hide-delimiter-background
                delimiter-icon="mdi-square"
                height="300"
            >
                <v-carousel-item
                    v-for="(photo, i) in photos"
                    :key="i"
                    :src="require('../assets/img/' + photo.src)"
                >

                </v-carousel-item>
            </v-carousel>
        </v-card> -->
    </section>
</template>

<script>

    export default {
        name: 'galleryMain',
        data: () => {
            // return {
            //     photos: [
            //         {src: 'first_photo.jpeg'},
            //         {src: '3.jpg'}
            //     ]
            // }
        },
        }
</script>

<style lang="scss">

@import '../assets/scss/gallery.scss';

</style>