<template>
    <section class="company__idea idea">
      <div class="idea__inform">
        <h2 class="idea__title">
          Как пришла идея?
        </h2>
        <p class="idea__text">
          Пытались закрыть свою боль с фотостудией. Для своих съёмок приходилось закупаться 
          всем мелким реквизитом: журналы, цветы, бокалы.
          Мы искали не просто стены, а упакованную реквизитом студию.
        </p>
        <p class="idea__text">
          Поэтому, опираясь на свой опыт, создали интерьерные залы, 
          где вы найдете всё необходимое для контентной съёмки!
        </p>
        <ul class="idea__img-list">
          <li class="idea__img-item">
            <img class="idea__img" src="../assets/img/idea1.jpg" alt="фото фотостудии">
          </li>
          <li class="idea__img-item">
            <img class="idea__img" src="../assets/img/idea2.jpg" alt="фото фотостудии">
          </li>
        </ul>
      </div>
      <ul class="idea__img-list">
          <li class="idea__img-item--right">
            <img class="idea__img" src="../assets/img/idea3.jpg" alt="фото фотостудии">
          </li>
          <li class="idea__img-item--right">
            <img class="idea__img" src="../assets/img/idea4.jpg" alt="фото фотостудии">
          </li>
        </ul>
    </section>
</template>

<style lang="scss">

@import '../assets/scss/idea.scss';

</style>