<template>
    <section class="main__services services">
        <VueCardCarousel class="vcc" :items="listOfTodos">
            <ul class="services__list-main">
                <li class="services__item-main">
                    <img src="../assets/img/organization.jpg" alt="картинка, описывающая услугу" class="services__img-main" max-width="100%">
                    <p class="services__name-main">Аренда гардероба</p>
                </li>
            </ul>
        </VueCardCarousel>
        <div class="services__inform-wrapper">
            <h2 class="services__title-main">
                Наши услуги
            </h2>
            <p class="services__text-main">
                Мы рады предложить Вам широкий спектр профессиональных услуг, которые помогут воплотить 
                в жизнь Ваши самые интересные и необычные идеи. В нашей фотостудии используются самые современные 
                технологии и оборудование, чтобы гарантировать высокое качество изображений и уникальный стиль.
            </p>
            <a href="/service" class="services__link-main" style="background-color: #F2AEC1; color: #173BA6;">Подробнее</a>
        </div>
    </section>
</template>

<script>
import { VueCardCarousel } from "vue-card-carousel";
    export default {
        name: 'serviseMain',
        comments: {
            VueCardCarousel,
        },
        data: () => {
            return {
                listOfTodos: [{ id: 1 }, { id: 2 }, { id: 3 }],
                headerOpt: { isVisible: false }
            };
        },
        }
</script>

<style lang="scss">

@import '../assets/scss/services.scss';

.vcc {
    display: block;
    border-radius: 20px;
    margin-left: -30px;
    padding: 40px;
    max-width:500px;
    max-height: 500px;
    background-color: #173BA6;
}

</style>