<template>
        <v-carousel
        cycle
        height="600"
        hide-delimiter-background
        >
        <v-carousel-item
            v-for="(slide, i) in slides"
            :key="i"
            :src="require('../assets/img/' + slide.src)"
        >
            <h1 class="main__title">Фотостудия "SHINE"</h1>
            <a href="/" class="main__link" style="color: #173BA6; font-size: 16px; font-weight: 400;">Забронировать зал</a>
        </v-carousel-item>
        </v-carousel>
</template>

<script>
    export default {
        name: 'sliderMain',
        data: () => {
            return {
                slides: [
                    {src: '2.jpg'},
                    {src: '1.jpg'},
                    {src: '3gallery.jpeg'},
                ],
            }
        },
        }
</script>

<style lang="scss">

@import "../assets/scss/main.scss";

</style>