<template>
    <v-footer
    class="footer">
    <v-row
      justify="center"
      no-gutters
    >
      <v-col
        class="py-4 text-center dark--text"
        cols="12"
      >
      <div class="footer__wrapper">
        <router-link to="/"><v-img class="app__logo" alt="Логотип фотостудии." src="@/assets/img/logo-pink.svg" />
        </router-link>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/" class="footer__link">Главная</a>
          </li>
          <li class="footer__item">
            <a href="/" class="footer__link">О нас</a>
          </li>
          <li class="footer__item">
            <a href="/location" class="footer__link">Локации</a>
          </li>
          <li class="footer__item">
            <a href="/" class="footer__link">Контакты</a>
          </li>
        </ul>
        <div class="footer__form form">
          <p class="form__title">
            Если у вас появились вопросы, оставьте свой e-mail, и наши сотрудники свяжутся с вами:
          </p>
          <form class="form__feedback" action="//httpbin.org/post" method="post">
            <label for="email_id" class="form__label">Ваш e-mail:</label>
            <input type="email" class="form__input" id="email_id" placeholder="mospolytech@.com">
            <button class="form__button" type="submit">Отправить</button>
          </form>
        </div>
      </div>
      </v-col>
    </v-row>
  </v-footer>
</template>