<template>
    <section class="header">
            <div class="header__logo logo">
                <router-link to="/" class="logo__link">
                    <img src="../assets/img/logo.svg" alt="Логотип фотостудии" class="logo__img">
                </router-link>
            </div>
            <nav class="header__nav nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <router-link to="/about" class="nav__link" style="color: #173BA6;">О компании</router-link>
                        </li>
                        <li class="nav__item">
                            <router-link to="/service" class="nav__link" style="color: #173BA6;">Услуги</router-link>
                        </li>
                        <li class="nav__item">
                            <router-link to="/location" class="nav__link" style="color: #173BA6;">Локации</router-link>
                        </li>
                    </ul>
                </nav>
                <div class="header__auth auth" v-if="!isLoggedIn">
                    <li class="auth__item">
                            <router-link to="/auth" class="auth__link" style="color: #173BA6;">Вход</router-link>
                    </li>
                    <li class="auth__item">
                            <router-link to="/registr" class="auth__link" style="color: #173BA6;">Регистрация</router-link>
                    </li>
                </div>
                <div class="header__auth auth" v-if="isLoggedIn">
                    <a @click="logout" class="auth__link" style="color: #173BA6">Выход</a>
                </div>
            </section>

</template>


<style lang="scss">

    @import '../assets/scss/header.scss';
    @import '../assets/scss/nav.scss';
    @import '../assets/scss/auth.scss';
    @import '../assets/scss/logo.scss';

</style>

<script>

export default {
    name: 'vHeader',
    computed : {
        isLoggedIn : function(){ return this.$store.getters.isLoggedIn}
    },
    methods: {
        logout: function () {
            this.$store.dispatch('logout')
        }
    }
}

</script>

