<template>
    <div class="company">
        <h1 class="company__title">О нас</h1>
        <companyDescript />
        <section class="company__why why">
            <h2 class="why__title">
                Почему фотостудия SHINE?
            </h2>
            <p class="why__text">
                SHINE — это локация для творчества, креатива, 
                встречи и соединения заряженных и сияющих людей на раскрытие своего творческого 
                потенциала. Это место уникальности. Мы символизируем его, как перерождение 
                старого формата фотостудий и создание новых идей, трендов.
            </p>
        </section>
        <section class="company__who who">
            <img class="who__img" src="../assets/img/organization.jpg" alt="Фото основательниц">
            <div class="who__text-wrapper">
                <h2 class="who__title">
                    Кто вы?
                </h2>
                <p class="who__text">
                    Мы - Карина и Полина - со-основательницы SHINE. Вместе мы генерируем 
                    интереснейшие идеи и реализуем их в жизнь, а, открыв свое фото-пространство, 
                    помогаем делать это и другим!
                </p>
            </div>
        </section>
        <ideaComponent />
        <section class="company__creative creative">
            <div class="creative__inform-wrapper">
                <h2 class="creative__title">
                    О креативе
                </h2>
                <p class="creative__text">
                    Наша цель — создавать и развивать креативную среду, 
                    вдохновлять людей на творчество, быть проводниками и помощниками 
                    в реализации их идей и потенциала!
                </p>
                <p class="creative__text">
                    SHINE — интерьерная фотостудия в Москве. 
                    Фотостудия, которая переросла в целую экосистему 
                    с услугами по созданию контента. А также первая студия, 
                    создавшая услугу съёмки reels.
                </p>
                <p class="creative__text">
                    Наш новый обучающий проект CREATE POINT объединил экспертов из разных творческих ниш, 
                    и вместе мы создаём образовательные продукты.
                    А в нашем телеграм-канале мы бесплатно делимся полезной информацией 
                    по продвижению и идеями съёмок!
                </p>
            </div>
            <img src="../assets/img/creative.jpg" alt="Креативная фотография" class="creative__img">
        </section>
    </div>
</template>

<script>

import companyDescript from '@/components/companyDescript.vue';
import ideaComponent from '@/components/ideaComponent.vue';

export default {
    name: 'AboutPage',
    components: {
        companyDescript,
        ideaComponent,
    }
}

</script>

<style lang="scss">

@import '../assets/scss/company.scss';
@import '../assets/scss/why.scss';
@import '../assets/scss/who.scss';
@import '../assets/scss/creative.scss';

</style>