<template>
    <section class="login">
        <div class="login__wrapper">
            <h1 class="login__title">Войти</h1>
            <form @submit.prevent="login" class="login__form-login form-login">
                <label for="name_login" class="form-login__label">Ваше имя:
                <div>
                    <input class="form-login__input" id="name_login" type="text" v-model="username" 
                    placeholder="Ваше имя" required autofocus>
                </div>
                </label>
                <label for="password_login" class="form-login__label">Пароль:
                <div>
                    <input class="form-login__input" id="password_login" type="password" v-model="password"
                    placeholder="Пароль" required>
                </div>
                </label>
                <button class="form-login__btn" type="submit">Войти</button>
            </form>
        </div>
    </section>
</template>

<script>

import ApiService from '@/services/ApiService';

    export default {
        name: 'AuthPage',
        data() {
            return {
                username: '',
                password: ''
            }
        },
        mounted() {
            const visitInfo = {
                username: 'username',
                timestamp: 'timestamp',
                url: 'url',
                browser: 'browser',
            };
            ApiService.sendVisitData(visitInfo)
                .then(() => {
                    console.log('EEE')
                })
                .catch(() => {
                    console.log('uuu')
                });
        },
        methods: {
            login: function () {
                let username = this.username 
                let password = this.password
                this.$store.dispatch('login', { username, password })
                .then(() => {
                    this.$router.push('/')
                    window.location.reload()
                })
                .catch(err => console.log(err))
            }
        }
    }
</script>

<style lang="scss">
@import '../assets/scss/login.scss';
@import '../assets/scss/form-login.scss';
</style>