<template>
    <div class="location">
        <h1 class="location__title">
            Залы фотостудии
        </h1>
        <section class="location__choice choice">
            <ul class="choice__list-wrapper">
                <li v-for="location in locationList" :key="location.id"  class="choice__list">
                    <a href="#" @click="toLocation(location.id)" class="choice__item">
                        <img :src="location.location_photo" alt="Фото зала" class="choice__img">
                        <div class="choice__information-wrapper">
                            <p class="choice__name">
                                {{ location.name }}
                            </p>
                            <p class="choice__cost">
                                {{ location.cost }} руб./час
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

    </div>
</template>

<script>

export default {
    name: 'LocationPage',
    components: {},
    data() {
        return {
            locationList: []
        }
    },
    created() {
        this.loadLocationList()
    },
    methods: {
        async loadLocationList() {
            this.locationList = await fetch(
                `${this.$store.getters.getServerUrl}/location`
            ).then(response => response.json())
        },
        toLocation(id) {
            this.$router.push({name: 'LocationDescriptPage', params: {id: id}})
        }
    }

}
</script>


<style lang="scss">
@import '../assets/scss/location.scss';
@import '../assets/scss/choice.scss';
</style>
