<template>
    <section class="location-descript">
        <img :src="location.location_photo" alt="фото локации" class="location-descript__img">
        <div class="location-descript__location-inform location-inform">
            <p class="location-inform__name">
                {{ location.name }}
            </p>
            <p class="location-inform__description">
                {{ location.description }}
            </p>
            <p class="location-inform__cost">
                {{ location.cost }} руб./час
            </p>
        </div>
    </section>
</template>

<script>

export default {
    name: 'LocationDescriptPage',
    props: ['id'],
    data() {
        return {
            location: {}
        }
    },
    created() {
        this.loadLocation()
    },
    methods: {
        async loadLocation() {
            this.location = await fetch(
                `${this.$store.getters.getServerUrl}/location/${this.id}`
            ).then(response => response.json())
        }
    }

}
</script>

<style lang="scss">
    @import '../assets/scss/location-descript.scss';
    @import '../assets/scss/location-inform.scss';
</style>