<template>
    <div class="main">
        <sliderMain />
        <aboutMain />
        <serviceMain />
        <section class="main__gallery gallery">
        <h2 class="gallery__title">
            Фото, сделанные у нас:
        </h2>
        </section>
        <ul class="gallery__img-list">
            <li class="gallery__img-item">
                <img src="../assets/img/1gallery.png" alt="фото, сделанное у нас" class="gallery__img">
            </li>
            <li class="gallery__img-item">
                <img src="../assets/img/2gallery.jpg" alt="фото, сделанное у нас" class="gallery__img">
            </li>
            <li class="gallery__img-item">
                <img src="../assets/img/3gallery.jpeg" alt="фото, сделанное у нас" class="gallery__img">
            </li>
            <li class="gallery__img-item">
                <img src="../assets/img/4gallery.jpeg" alt="фото, сделанное у нас" class="gallery__img">
            </li>
            <li class="gallery__img-item">
                <img src="../assets/img/5gallery.png" alt="фото, сделанное у нас" class="gallery__img">
            </li>
            <li class="gallery__img-item">
                <img src="../assets/img/6gallery.png" alt="фото, сделанное у нас" class="gallery__img">
            </li>
        </ul>
        <!-- <galleryMain /> -->
    </div>
</template>

<script>

import sliderMain from '@/components/sliderMain.vue';
import aboutMain from '@/components/aboutMain.vue';
import serviceMain from '@/components/serviceMain.vue';
// import galleryMain from '../components/galleryMain.vue';

export default {
    name: 'MainPage',
    components: {
        sliderMain,
        aboutMain,
        serviceMain,
        // galleryMain,
    }
}


</script>

<style lang="scss">

@import '../assets/scss/gallery.scss';
</style>