<template>
    <section class="register">
        <div class="register__wrapper">
            <h1 class="register__title">Регистрация</h1>
            <form @submit.prevent="register" class="register__form-register form-register">
                <label for="name_registr" class="form-register__label">Ваше имя:
                <div>
                    <input class="form-register__input" id="name_registr" type="text" v-model="username" 
                    placeholder="Ваше имя" required autofocus>
                </div>
                </label>
                <label for="emai_registr" class="form-register__label" >Ваш email:
                <div>
                    <input class="form-register__input" id="email_registr" type="email" v-model="email" 
                    placeholder="Ваш email" required>
                </div>
                </label>
                <label for="password_registr" class="form-register__label">Пароль:
                <div>
                    <input class="form-register__input" id="password_registr" type="password" v-model="password"
                    placeholder="Пароль" required>
                </div>
                </label>
                <button type="submit" class="form-register__btn">Зарегистрироваться</button>
            </form>
        </div>
    </section>
</template>

<script>

    export default {
        name: 'RegistrPage',
        data() {
            return {
                username: '',
                email: '',
                password: '',
            }

        },
        methods: {
            register: function () {
                let data = {
                    username: this.username,
                    email: this.email,
                    password: this.password
                }
                this.$store.dispatch('register', data)
                .then(() => {
                    this.$router.push('/')
                    window.location.reload()
                })
                .catch(err => console.log(err))
            }
        }
    }
</script>

<style lang="scss">
@import '../assets/scss/register.scss';
@import '../assets/scss/form-register.scss';
</style>