<template>
    <section class="service-descript">
        <img :src="service.service_img" alt="фото локации" class="service-descript__img">
        <div class="service-descript__service-inform service-inform">
            <p class="service-inform__name">
                {{ service.service_name }}
            </p>
            <p class="service-inform__description">
                {{ service.description }}
            </p>
            <p class="service-inform__cost">
                {{ service.cost }} руб./час
            </p>
        </div>
    </section>
</template>

<script>

export default {
    name: 'ServiceDescriptPage',
    props: ['id'],
    data() {
        return {
            service: {}
        }
    },
    created() {
        this.loadService()
    },
    methods: {
        async loadService() {
            this.service = await fetch(
                `${this.$store.getters.getServerUrl}/service/${this.id}`
            ).then(response => response.json())
            console.log(this.service)
            console.log(this.id)
        }
    }

}
</script>

<style lang="scss">
@import '../assets/scss/service-descript.scss';
@import '../assets/scss/service-inform.scss';
</style>