<template>
    <div class="service">
        <h1 class="service__title">
            Услуги
        </h1>
        <div class="service__promo promo">
            <img src="../assets/img/stars.svg" alt="иконка для преимуществ фотостудии" class="promo__img">
            <p class="promo__text">
            Мы рады предложить Вам широкий спектр профессиональных услуг, которые помогут воплотить 
            в жизнь Ваши самые интересные и необычные идеи. В нашей фотостудии используются самые современные 
            технологии и оборудование, чтобы гарантировать высокое качество изображений и уникальный стиль.
            </p>
        </div>
        <section class="main__services services">
        <ul class="services__list" v-for="service in serviceList" :key="service.id">
            <li class="services__item">
                <a href="#" @click="toService(service.id)" class="services__link-wrapper">
                    <img :src="service.service_img" alt="картинка, описывающая услугу" class="services__img" max-width="100%">
                    <p class="services__name">{{ service.service_name }}</p>
                    <p class="services__name">{{ service.cost }} руб./услуга</p>
                </a>
            </li>
        </ul>
    </section>
    </div>
</template>

<script>

export default {
    name: 'ServicePage',
    components: {},
    data() {
        return {
            serviceList: []
        }
    },
    created() {
        this.loadServiceList()
    },
    methods: {
        async loadServiceList() {
            this.serviceList = await fetch(
                `${this.$store.getters.getServerUrl}/service`
            ).then(response => response.json())
            console.log(this.serviceList)
        },
        toService(id) {
            this.$router.push({name: 'ServiceDescriptPage', params: {id: id}})
        }
    }
}


</script>

<style lang="scss">

@import '../assets/scss/service.scss';
@import '../assets/scss/promo.scss';
@import '../assets/scss/services.scss';

</style>