<template>
  <v-app>
    <v-app-bar
      class="bar"
      app
      elevate-on-scroll
      color="#F2EFEB">
      <!-- <g-signin-button
            v-if="isEmpty(user)"
            :params="googleSignInParams"
            @success="onGoogleSignInSuccess"
            @error="onGoogleSignInError"
          >
            <button class="btn btn-block btn-success">
              Google Signin
            </button>
          </g-signin-button> -->
    <vHeader />
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-footer
    class="footer"
    style="background-color: #173BA6;">
    <v-row
      justify="center"
      no-gutters
    >
      <v-col
        class="py-4 text-center dark--text"
        cols="12"
      >
      <div class="footer__wrapper">
        <router-link to="/"><v-img class="footer__logo" alt="Логотип фотостудии." src="@/assets/img/logo-pink.svg" />
        </router-link>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/" class="footer__link" style="color:#F2EFEB">Главная</a>
          </li>
          <li class="footer__item">
            <a href="/" class="footer__link" style="color:#F2EFEB">О нас</a>
          </li>
          <li class="footer__item">
            <a href="/location" class="footer__link" style="color:#F2EFEB">Локации</a>
          </li>
          <li class="footer__item">
            <a href="/" class="footer__link" style="color:#F2EFEB">Контакты</a>
          </li>
        </ul>
        <div class="footer__form form">
          <p class="form__title">
            Если у вас появились вопросы, оставьте свой e-mail, и наши сотрудники свяжутся с вами:
          </p>
        </div>
      </div>
      </v-col>
    </v-row>
  </v-footer>
  </v-app>
</template>

<script>
// import axios from 'axios'
import vHeader from './components/vHeader.vue';

export default {
  name: 'App',

  components: {
    vHeader
  },
  data () {
    // return {
    //   user: {},
    //   googleSignInParams: {
    //     client_id: 'your_client_id_here'
    //   }
    // }
  },
  // methods: {
  //   onGoogleSignInSuccess (resp) {
  //     const token = resp.Zi.access_token
  //     // После успешного входа через Google,
  //     // отправляем токен доступа на бэкэнд и получаем взамен
  //     // пользователя и JWT токен
  //     // P.S. JWT токен в нашем примере не нужен, поэтому его не сохраняем
  //     axios.post('http://localhost:8000/auth/google/', {
  //       access_token: token
  //     })
  //       .then(resp => {
  //         this.user = resp.data.user
  //       })
  //       .catch(err => {
  //         console.log(err.response)
  //       })
  //   },
  //   onGoogleSignInError (error) {
  //     console.log('OH NOES', error)
  //   },
  //   isEmpty (obj) {
  //     return Object.keys(obj).length === 0
  //   }
  // }
};
</script>

<style lang="scss">
  @import '../src/assets/scss/bar.scss';
  @import '../src/assets/scss/footer.scss';
  @import '../src/assets/scss/form.scss';
</style>

