@import '../scss/variables.scss';

.achievements {

    margin-top: 60px;
    
    &__list {
        list-style: none;
        padding-top: 60px;
        padding-right: 40px;
    }

    &__title {
        font-size: 32px;
        color: $pink;
        font-weight: 400;
        text-align: center;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        text-align: center;
        margin-top: 15px;
    }

    &__link-main {
        background-color: $pink;
    }
}