@import '../scss/variables.scss';

.auth {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        padding-left: 20px;
    }
}