@import '../scss/variables.scss';

.cards {

    margin-top: 40px;
    padding-bottom: 60px;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        list-style: none;
        display: block;
        max-width: 400px;
        height: 350px;
        margin: 20px;
        

        &--pink {
            list-style: none;
            display: block;
            max-width: 400px;
            margin: 20px;
            padding: 10px;
            background-color: $pink;
            border-radius: 20px;
        }
    }

    &__text-title {
        font-size: 24px;
        font-weight: 400;
        color: $blue;
        text-align: center;
        margin-top: 100px;
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
        color: $blue;
        text-align: center;
    }

    &__img {
        width: 400px;
        height: 350px;
        border-radius: 20px;
    }
}