@import "../scss/variables.scss";

.choice {
    margin-top: 40px;

    &__list-wrapper {
        margin: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        align-items: center;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: block;
        margin: 0 auto;
        max-width: 401px;
        list-style: none;
        border: 1px solid $pink;
        border-radius: 20px;
        text-decoration: none;
    }

    &__img {
        width: 400px;
        height: 400px;
        border-radius: 20px 20px 0 0;
    }

    &__information-wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__name {
        margin: 10px;
        color: $pink;
        font-size: 36px;
        font-weight: 400;
        text-decoration: none;
    }

    &__cost {
        color: $white;
        font-size: 24px;
        font-weight: 400;
        margin: 10px;
        padding-top: 13px;
    }
}