@import '../scss/variables.scss';

.creative {
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
    margin-left: 60px;
    padding-bottom: 60px;

    &__inform-wrapper {
        display: block;
        max-width: 600px;
    }

    &__title {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 400;
        color: $white;
        padding-bottom: 15px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        padding-top: 5px;
    }

    &__img {
        width: 400px;
        height: 360px;
    }
}