@import '../scss/variables.scss';

.footer {
    background-color: $blue;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        margin: 30px;
    }

    &__list {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $pink;
        font-size: 16px;
        font-weight: 200;
    }
}