@import '../scss/variables.scss';

.form-register {
    &__label {
        margin-top: 20px;
        font-size: 16px;
        color: $blue;
    }

    &__input {
        border: 1px solid #173BA6;
        border-radius: 5px;
        padding: 5px;
        max-height: 40px;
        width: 100%;

        &::placeholder {
            color: #b3b1ab;
            opacity: 0.7;
            font-size: 16px;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $blue;
        border-radius: 5px;
        max-height: 40px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        max-width: 300px;
        color: $white;
        font-size: 16px;
    }
}