@import './variables.scss';

.form {

    &__title {
        display: flex;
        text-align: left;
        max-width: 400px;
        margin-left: 40px;
        font-size: 16px;
        color: $pink;
        font-weight: 400;
    }

    &__feedback {
        display: flex;
        justify-content: left;
        margin-top: 20px;
        margin-left: 40px;
    }

    &__label {
        font-size: 16px;
        color: $pink;
        margin-right: 10px;
        font-weight: 200;
    }

    &__input {
        background-color: $white;
        border-radius: 5px;
        max-width: 400px;
        height: 30px;
        padding: 5px;
    }

    &__button {
        background-color: $pink;
        color: $blue;
        border-radius: 0px 5px 5px 0px;
        margin-left: -6px;
        width: 100px;
    }
}