@import '../scss/variables.scss';

.gallery {

    &__title {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 60px;
        color: $white;
        font-size: 32px;
        font-weight: 400;
    }

    &__card {
        margin-bottom: 100px;
    }

    &__img {
        width: 370px;
        height: 290px;
        box-sizing: border-box;
    }

    &__img-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 800px;
        grid-gap: 15px;
        margin-left: 50px;
    }

    &__img-item {
        list-style: none;
    }
}