@import '../scss/variables.scss';

.idea {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;

    &__title {
        font-size: 32px;
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__text {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }

    &__img-list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__img-item {
        margin: 20px;

        &--right {
            margin: 20px;
            margin-top: 140px;
        }
    }

    &__img {
        width: 240px;
        height: 320px;
    }
}