@import '../scss/variables.scss';

.location-inform {
    margin-left: 40px;
    display: grid;
    grid-template-rows: 50px 150px 200px;
    

    &__name {
        color: $pink;
        font-size: 24px;
        font-weight: 400;
    }

    &__description {
        color: $white;
        font-size: 16px;
        font-weight: 400;
    }

    &__cost {
        color: $pink;
        font-size: 24px;
        font-weight: 400;
        padding-top: 150px;
    }
}