@import "../scss/variables.scss";

.location {
    background-color: $blue;
    max-width: 1440px;
    font-family: montserrat;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;

    &__title {
        padding-top: 60px;
        margin-left: 60px;
        font-size: 48px;
        font-weight: 500;
        color: $white;
    }

}