@import '../scss/variables.scss';

.location-descript {
    background-color: $blue;
    max-width: 1440px;
    font-family: montserrat;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    justify-content: space-between;

    &__img {
        width: 400px;
        height: 400px;
    }
}