@import '../scss/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: $blue;
    max-width: 1440px;
    font-family: montserrat;
    width: 100%;
    margin: 0 auto;

    &__title {
        display: flex;
        max-width: 900px;
        text-align: left;
        font-size: 80px;
        margin-top: 40px;
        margin-left: 60px;
        text-transform: uppercase;
        font-weight: 400;
        color: $blue;
    }

    &__link {
        margin-top: 20px;
        margin-left: 100px;
        display: inline-block;
        width: 250px;
        height: 40px;
        background-color: $pink;
        color: $blue;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        padding: 7px;

        &:hover {
            background-color: $white;
        } 
    }
}