@import '../scss/variables.scss';

.nav {

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        list-style: none;
        padding: 20px;
        padding-left: -20px;
    }

    &__link {
        text-decoration: none;
        color: $blue;
        font-size: 20px;
        font-weight: 400;
    }
}