@import '../scss/variables.scss';

.promo {
    display: flex;
    margin: 60px;

    &__img {
        width: 55px;
        height: 55px;
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 30px;
    }

    &__text {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        
    }

}