@import '../scss/variables.scss';

.register {
    background-color: $blue;
    max-width: 1440px;
    font-family: montserrat;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    &__wrapper {
        display: block;
        margin: 0 auto;
        background-color: $white;
        max-width: 600px;
        border-radius: 10px;
        padding: 30px;

    }

    &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        color: $blue;
    }

    &__form-register {
        display: flex;
        flex-direction: column;
    }

}