@import '../scss/variables.scss';

.services {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 60px;
        margin-left: 60px;
        color: $white;
    }

    &__list {
        // margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 490px));
        grid-auto-rows: auto;
        grid-gap: 40px;
        align-items: center;
    }

    &__item {
        display: block;
        margin: 0 auto;
        max-width: 401px;
        list-style: none;
        border: 1px solid $pink;
        border-radius: 20px;
        text-decoration: none;
    }

    &__name {
        text-align: center;
        margin: 10px;
        color: $pink;
        font-size: 24px;
        font-weight: 400;
    }

    &__link {
        margin: 0 auto;
        margin-bottom: 15px;
        display: flex;
        max-width: 250px;
        min-height: 40px;
        text-decoration: none;
        background-color: $pink;
        color: $white;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 400;
        justify-content: center;
        padding-top: 5px;
        -webkit-box-shadow: 8px 12px 23px 2px rgba(255, 255, 255, 0.29) inset;
        -moz-box-shadow: 8px 12px 23px 2px rgba(255, 255, 255, 0.29) inset;
        box-shadow: 8px 12px 23px 2px rgba(255, 255, 255, 0.29) inset;
    }

    &__link-wrapper {
        text-decoration: none;
    }

    &__img {
        border-radius: 20px 20px 0 0;
        width: 400px;
        height: 400px;
    }

    &__inform-wrapper {
        display: block;
        margin-right: 60px;
        margin-left: 40px;
        margin-left: -150px;
        padding-top: 230px;
        max-width: 700px;
    }

    &__title-main {
        color: $pink;
        font-size: 32px;
        font-weight: 400;
    }

    &__text-main {
        margin-top: 20px;
        padding-bottom: 60px;
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }

    &__link-main {
        display: inline-block;
        margin-top: 40px;
        width: 250px;
        height: 40px;
        background-color: $pink;
        color: $blue;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        padding: 7px;

        &:hover {
            background-color: $white;
        } 
    }

    &__img-main {
        border-radius: 20px 20px 0 0;
        width: 250px;
        height: 280px;
    }

    &__item-main {
        display: block;
        margin: 0 auto;
        list-style: none;
        text-decoration: none;
    }

    &__name-main {
        text-align: center;
        margin-top: 10px;
        margin-left: -20px;
        color: $blue;
        font-size: 16px;
        font-weight: 400;
    }
}