@import '../scss/variables.scss';

.who {

    
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;

    &__text-wrapper {
        display: inline-block;
        max-width: 600px;
    }

    &__title {
        margin-top: 260px;
        font-size: 32px;
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 20px;
        margin-right: 60px;
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }

    &__img {
        margin-left: 60px;
    }
}