@import '../scss/variables.scss';

.why {

    padding-bottom: 60px;

    &__title {
        margin-left: 60px;
        font-size: 32px;
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
    }

    &__text {
        display: inline-block;
        width: 600px;
        margin-top: 20px;
        margin-left: 60px;
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }
}